# Core requirements
alsa-utils
dirmngr
gettext
gfortran
gnupg
jq
libatlas3-base
libncurses5-dev
libssl-dev
python3-pip
util-linux

# Plugins
## AudioEngine
### PyAudio
libasound2-dev
portaudio19-dev
pulseaudio
pulseaudio-utils

## STT
### PocketSphinx is default for wakeword spotting
bison
libpulse-dev
swig
sphinxtrain

#### Phonetisaurus is used to build dictionaries
autoconf
autoconf-archive
bison
g++
gcc
gfortran
git
libtool
make
subversion
swig

# TTS
## flite
flite

# SpeechHandler
## MPDControl
mpd
