# Core requirements
python3-pip
libatlas3-base
libssl-dev
libncurses5-dev
gnupg
dirmngr
gettext
gfortran
util-linux
jq

# Plugins
## AudioEngine
### PyAudio
portaudio19-dev
libasound2-dev
pulseaudio
pulseaudio-utils

## STT
### pocketsphinx is default for wakeword spotting
swig
bison

#### Phonetisaurus is used to build dictionaries
gcc
g++
make
python-pip
autoconf
libtool
git
gfortran
autoconf-archive
subversion
swig
bison

# TTS
## flite
flite

# SpeechHandler
## MPDControl
mpd

