# Core requirements
alsa-utils
dirmngr
gettext
gfortran
gnupg
jq
libatlas3-base
libncurses5-dev
libssl-dev
python3-dev
python3-pip
python3-virtualenvwrapper
util-linux

# Plugins
## AudioEngine
### PyAudio
libasound2-dev
portaudio19-dev
pulseaudio
pulseaudio-utils

## STT
### PocketSphinx is default for wakeword spotting
pocketsphinx
sphinxtrain

### KenLM for building ARPA models
build-essential
cmake
libboost-system-dev
libboost-thread-dev
libboost-program-options-dev
libboost-test-dev
libeigen3-dev
zlib1g-dev
libbz2-dev
liblzma-dev

# TTS
## flite
flite

# SpeechHandler
## MPDControl
mpd
